@charset "utf-8";
/* CSS Document */

body#rhythm div#header {
	height: 160px;
	width: 920px;
}

body#rhythm div#contentsBox {
	background: url(../rhythm/img/bg_rhythm.jpg) no-repeat center top;
	height: 768px;
	position: relative;
	margin-bottom: 30px;
}

div#rhythmBox {
	height: 400px;
	position: absolute;
	top: 265px;
	height: 498px;
	margin: 19px;
}

p.posi {
	text-align: center;
	margin-top: 5px;
}

div#rhythmBox ul {
	margin: 15px 0 0 45px;
}

div#rhythmBox ul li {
	float: left;
	margin: 0 10px 15px 0;
	width: 250px;
	position: relative;
}

div#rhythmBox ul li span {
	position: absolute;
	left: 90px;
	top: 48px;
}

div#rhythmBox li.third {
	margin: 0 0 15px 0;
}

body#rhythm p.way {
	position: absolute;
	top: 70px;
	right: 10px;
}